.messages
  .message
    .message__info
      .message__info__user-name aaa
      .message__info__date 2019/05/02
    .message__text message
  .message
    .message__info
      .message__info__user-name aaa
      .message__info__date 2019/05/02
    .message__text message