%div.messages
  %div.message
    %div.message__info
      %div.message__info__user-name aaa
      %div.message__info__date 2019/05/02
    %div.message__text message
  %div.message
    %div.message__info
      %div.message__info__user-name aaa
      %div.message__info__date 2019/05/02
    %div.message__text message