.form{
@include size(90px, calc(100vw - 300px));
padding: 20px 10px 20px 10px;
background-color: #dddddd;
box-sizing: border-box;
  .new-message{
    display: flex;
    .input-box{
      position: relative;
      width: 100%;
      margin-right: 10px;
      &__text{
        height: 50px;
        width: 100%;
        color: #434a54;
        border-style: none;
        flex: 1;
      }
      .image-label{ 
        font-size: 1.3rem;
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
        .fa.fa-image{
          display: inline-block;
        }
        &__input{
          display: none;
        }
      }
    }
    &__submit-button{
      background-color: $back-blue;
      border: none;
      color: $back-white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
      cursor: pointer;
    }
  }
}
.form{
  background-color: #DDDDDD;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 50px 20px 40px;
  &__message{
    border: none;
    box-sizing: border-box;
    float: left;
    height: 50px;
    padding: 0 10px;
    width: calc(100% - 150px);
  }
  &__mask{
    background-color: white;
    float: left;
    height: 50px;
    padding-right: 10px;
    &__image{
      font-size: 20px;
      line-height: 50px;
    }
    .hidden{
      display: none;
    }
  }
  &__submit{
    background-color: #38AEF0;
    border: none;
    color: white;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
  }
}


