@import "variable", "mixin";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
a :not(.edit_button){
  color:white;
  text-decoration: none;
}
a {
  color: $back-blue;
  text-decoration: none;
}

.contents{
  @include size(100vh, 100vw);
  background-color: $back-white;
  display: flex;
}