@import "variable", "mixin";

.header {
  width: 100vw;
  font-size: 1rem;
  font-weight: lighter;
  list-style: none;
  text-align: center;
  color:$back-white;
  background-color: $back-blue;
}
.contents{
  @include size(100vh, 100vw);
  background-color: $back-white;
  box-sizing: border-box;
  display: flex;
  .menu-contents {
    background-color: #2f3e51;
    @include size(100%, 300px);
    .user-header{
      background-color: #253141;
      height: 100px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      justify-content: space-between;
      font-weight: bold;
      color: $back-white;
      &__user-menu{
        list-style: none;
        display: flex;
        color: $back-white;
        &__edit-user
        {
          color: white;
          display: inline-block;
          float: right;
          &__link{
            color: white;
          }
        }
        &__new-group
        {
          display: inline-block;
          float: right;
          &__link{
            color: white;
          }
        }
      }
    }
    .group{
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 20px 20px 0;
      overflow: scroll;
      &-content{
        margin-bottom: 40px;
        color: white;
        &__group-name{
          font-size: 15px;
          margin-bottom: 5px;
        }
        &__latest-message{
          font-size: 11px;
        }
      }
    }
  }
  .chat-contents{
    @include size(100%, calc(100vw - 300px));
    background-color: $back-white;
    box-sizing: border-box;
    .main-header{
      background-color:white;
      justify-content: space-between;
      border-bottom: solid 1px #eeeeee;
      height: 100px;
      padding: 0px 40px;
      &__group-status{
        font-size: 20px;
        color: #333;
        .group-members{
          padding-top: 35px;
          .group-name{
          }
          .member-list{
            display: flex;
            margin-top: 15px;
            font-size: 12px;
            &__member{
              margin-left: 4.8px;
            }
          }
        }
        .edit-button{
          @include size(40px, 40px);
          line-height: 40px;
          color:$back-blue;
          border: solid 1px $back-blue;
          float: right;
          margin-top: 28px;
          padding: 0px 20px;
        }
      }
    }
    .messages{
      margin: 46px 40px;
      .message{
        padding-bottom: 40px;
        &__info{
          display: flex;
          &__user-name{
            font-size: 16px;
            font-weight: bold;
            color: $font-black;
          }
          &__date{
            font-size: 12px;
            color: #999999;
            margin-left: 10px;
          }
        }
      &__text{
        font-size: 14px;
        color: $font-black;
        margin-top: 10px;
        }
      }
    }
    .form{
    position: fixed;
    bottom: 0px;
    @include size(90px, calc(100vw - 300px));
    padding: 20px 10px 20px 10px;
    background-color: #dddddd;
    box-sizing: border-box;
      .new-message{
        display: flex;
        .input-box{
          position: relative;
          width: 100%;
          margin-right: 10px;
          &__text{
            height: 50px;
            width: 100%;
            color: #434a54;
            border-style: none;
            flex: 1;
          }
          .image-label{ 
            font-size: 1.3rem;
            position: absolute;
            top: 5px;
            right: 10px;
            cursor: pointer;
            .fa.fa-image{
              display: inline-block;
            }
            &__input{
              display: none;
            }
          }
        }
        &__submit-button{
          background-color: $back-blue;
          border: none;
          color: $back-white;
          float: right;
          font-size: 16px;
          height: 50px;
          margin-left: 15px;
          padding: 0 30px;
        }
      }
    }
  }
}