@import "variable", "mixin";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
a{
  color:white;
  text-decoration: none;
}
.contents{
  @include size(100vh, 100vw);
  background-color: $back-white;
  display: flex;
}